includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - app/

    excludePaths:
        - ./app/Models/**.php
        - ./app/Providers/**.php
        - ./app/Http/Middleware/**
        - ./app/Http/Resources/**
        - ./app/Exceptions/**
        - ./app/Console/Kernel.php
        - ./app/Http/Kernel.php
        - ./app/Events/**
        - ./app/Listeners/**
        - ./routes/**
